* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  background-color: rgb(209, 203, 203);
  color: #000000;
}

body {
  font-size: 1.6rem;
  font-family: "Be Vietnam Pro", sans-serif;
}
.main-content {
  width: 1270px;
  max-width: calc(100%-48px);
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: #0b0b0b;
  font-family: "Be Vietnam Pro", sans-serif;
}
.title {
  font-size: 4rem;
  font-weight: 700;
  color: orange;
  padding: 50px 0;
}
/* phần header */
header {
  width: 1440px;
  margin: 0 auto;
}
nav {
  margin: 0 -85px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  background-color: rgb(209, 203, 203);
}

.logo {
  margin-left: 50px;
  text-align: center;
  color: #fff;
  font-weight: 500;
}
.item {
  margin-right: 50px;
  width: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  font-weight: 500;
}
.item li {
  transition-duration: 0.5s;
}
.item li:first-child:hover,
.item li:nth-child(2):hover {
  transform: translateY(-10px);
}
/* dropdown */

.menu {
  position: relative;
}
.menu::after {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  border-left: 2px solid #000000;
  border-bottom: 2px solid #000000;
  rotate: -45deg;
  left: 105px;
  bottom: 8px;
}

.sub-menu-wrap {
  background-color: black;
  width: 200px;
  height: 0;
  border-radius: 10px;
  position: absolute;
  top: 50px;
  right: -50px;
  overflow: hidden;
  transition: height 0.5s ease;
}

.sub-menu-wrap.open {
  height: 200px;
}

.sub-menu a {
  color: white;
  text-decoration: none;
  display: block;
}
.sub-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sub-menu a {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.5s;
}
.sub-menu a:hover {
  background-color: #fff;
  color: black;
}

.model-top-left {
  width: 1000px;
  height: 600px;
  margin: 0 auto;
}
.model-top-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: black;
  width: 150px;
  height: 50px;
  border-radius: 12px;
  font-weight: 600;
  transition-duration: 0.5s;
}
.nav-btn:hover {
  opacity: 0.6;
}

/* main */

main img {
  margin: 50px 0 20px;
  width: 100%;
  height: 800px;
}
main .img-desc {
  text-align: center;
  font-size: 2rem;
  font-style: italic;
}
main h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
  color: rgb(229, 119, 41);
  margin-top: 20px;
}
main h2 {
  font-size: 2.5rem;
  margin-top: 20px;
  font-weight: 600;
}
main p {
  font-size: 1.5rem;
  line-height: 1.5;
}
main li {
  line-height: 1.5;
}
main address {
  font-size: 1.6rem;
  margin-top: 30px;
  color: black;
  font-weight: 500;
}
main .evaluate {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
main .evaluate i {
  font-size: 2.5rem;
  color: yellow;
}
main .evaluate p {
  font-size: 1.9rem;
}
main span {
  font-weight: 700;
}
/* phần footer */
footer {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2523236b;
  color: #ffffff;
  position: relative;
}
footer > img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}
footer .items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 300px;
}
footer .items > div {
  width: 30%;
  height: 100%;
}
footer .items .label {
  width: 80%;
  text-align: center;
}
footer .items .left > p {
  font-size: 2rem;
  margin-top: 15px;
  line-height: 1.5;
  width: 300px;
}
footer .items h2 {
  color: orange;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  text-transform: uppercase;
}
footer .items .center .contact-me {
  font-size: 2rem;
  margin-top: 10px;
  line-height: 1.5;
}
footer .items .center .address {
  display: flex;
  gap: 10px;
}
footer .items .center .address i {
  color: rgb(219, 158, 45);
}
footer .items .center .phone {
  display: flex;
  gap: 10px;
  align-items: center;
}
footer .items .center .phone i {
  color: rgb(219, 158, 45);
}
footer .items .center .mail {
  display: flex;
  gap: 10px;
  align-items: center;
}
footer .items .center .mail i {
  color: rgb(219, 158, 45);
}
footer .items .right .icon {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 90px;
}
footer .items .right .icon i {
  font-size: 4rem;
}
#facebook {
  transition-duration: 0.5s;
  color: #fff;
}
#facebook:hover {
  color: rgb(79, 187, 242);
  cursor: pointer;
}
#instagram {
  transition-duration: 0.5s;
  color: #fff;
}
#instagram:hover {
  background-image: linear-gradient(#833ab4, #fd1d1d, #fcb045);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  cursor: pointer;
}
#twitter {
  transition-duration: 0.5s;
  color: #fff;
}
#twitter:hover {
  color: rgb(128, 133, 136);
  cursor: pointer;
}
