* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  background-color: rgb(0, 0, 0);
  color: #fff;
}

body {
  font-size: 1.6rem;
  font-family: "Be Vietnam Pro", sans-serif;
}
.main-content {
  width: 1270px;
  max-width: calc(100%-48px);
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: #fff;
  font-family: "Be Vietnam Pro", sans-serif;
}
.title {
  font-size: 5rem;
  font-weight: 700;
  color: orange;
  padding: 50px 0;
  text-align: center;
}
/* phần header */
header {
  width: 100%;
  height: 100vh;
  position: relative;
}
header .header-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  object-fit: cover;
}

nav {
  margin: 0 -124.5px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.logo {
  margin-left: 50px;
  text-align: center;
  color: #fff;
  font-weight: 500;
}
.item {
  margin-right: 50px;
  width: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  font-weight: 500;
}
.item li {
  transition-duration: 0.5s;
}
.item li:first-child:hover,
.item li:nth-child(2):hover {
  transform: translateY(-10px);
}
.model img {
  width: 100%;
  height: 650px;
  object-fit: cover;
}
/* dropdown */
.menu {
  position: relative;
}
.menu::after {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  rotate: -45deg;
  left: 105px;
  bottom: 8px;
}

.sub-menu-wrap {
  background-color: black;
  width: 200px;
  height: 0;
  border-radius: 10px;
  position: absolute;
  top: 50px;
  right: -50px;
  overflow: hidden;
  transition: height 0.5s ease;
}

.sub-menu-wrap.open {
  height: 200px;
}

.sub-menu a {
  color: white;
  text-decoration: none;
  display: block;
}
.sub-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sub-menu a {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.5s;
}
.sub-menu a:hover {
  background-color: #fff;
  color: black;
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: black;
  width: 150px;
  height: 50px;
  border-radius: 12px;
  font-weight: 600;
  transition-duration: 0.5s;
}
.nav-btn:hover {
  opacity: 0.6;
}
.slogan {
  position: absolute;
  font-size: 6rem;
  font-weight: 800;
  width: 650px;
  letter-spacing: 3px;
  bottom: 230px;
}
.desc-fast {
  width: 100%;
  font-size: 1.7rem;
  line-height: 1.4;
  margin: 0 auto;
}
/* infor */
.infor {
  font-size: 3rem;
}

.infor img {
  width: 50px;
}
.infor .cost {
  padding: 30px 0;
  font-size: 5rem;
  display: flex;
  justify-content: space-between;
}
.share {
  width: 50px;
  height: 50px;
  color: white;
}
.condition {
  display: flex;
  align-items: center;
  color: #8c8585;
  justify-content: space-between;
}

.condition .bath,
.condition .bed,
.condition .dientich {
  border: 2px solid #8c8585;
  width: 33.33%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.condition .bath:hover,
.condition .bed:hover,
.condition .dientich:hover {
  border: 2px solid orange;
}
.buy {
  font-weight: 600;
  width: 200px;
  height: 50px;
  background-color: #fff;
  color: black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0 15px;
  transition-duration: 0.5s;
  cursor: pointer;
}
.buy:hover {
  opacity: 0.6;
}
/* phần feature */

.features .feature-items {
  display: flex;
  justify-content: space-evenly;
}
.features .feature-items div {
  padding: 30px;
  border: 1px solid #8a8484;
  text-align: center;
  width: 150px;
  height: 150px;
  transition: 0.5s;
}
.features .feature-items div:hover {
  transform: translateY(-10px);
}
.features .feature-items p {
  font-size: 0.9rem;
  margin-top: 10px;
  color: #8a8484;
}

/* phần Furniture */
.furniture {
  height: 700px;
  width: 100%;
}

.furniture .slide-furniture {
  width: 100%;
  height: 400px;
  display: flex;
  overflow: hidden;
  position: relative;
}
.furniture-item {
  width: 400px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  flex-shrink: 0;
  border: 2px solid #fff;
  border-radius: 5px;
  transition: 1s;
  position: absolute;
}
.furniture-item:nth-child(1) {
  transform: translateX(-105%);
}
.furniture-item:nth-child(2) {
  transform: translateX(0%);
  background-position: 10% 50%;
}
.furniture-item:nth-child(3) {
  transform: translateX(105%);
  background-position: 50% 50%;
}

.furniture-item:nth-child(4) {
  transform: translateX(210%);
  background-position: 90% 50%;
}
.furniture-item:nth-child(5) {
  transform: translateX(315%);
  background-position: 100% 50%;
}
.furniture-item:nth-child(6) {
  transform: translateX(420%);
}
.furniture .furniture-desc {
  width: 70%;
  text-align: center;
  margin: 0 auto;
  font-size: 2rem;
  line-height: 1.25;
}

/* phần neighborhood */
.neighborhood {
  margin-top: 60px;
  padding: 30px 20px;
  background: #423d3d9a;
  border-radius: 20px 20px 0 0;
}

.neighborhood .location {
  font-size: 2rem;
  padding: 0 0 30px;
  text-align: center;
}
.map-img {
  width: 1170px;
  margin: 0 auto;
  overflow: hidden;
}
.ggmap {
  width: 100%;
  height: 100%;
  transition-duration: 1s;
}
.ggmap:hover {
  transform: scale(1.2);
}
.services {
  width: 95.1%;
  display: flex;
  background-color: #f1f1f1;
  margin: 0 auto;
  height: 100px;
  justify-content: space-evenly;
  align-items: center;
}
.services li a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  transition-duration: 0.5s;
}
.services li a:hover {
  transform: translateY(-10px);
}
.text-service {
  color: black;
}
/* phần footer*/
footer {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2523236b;
  color: #ffffff;
  position: relative;
}
footer > img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}
footer .items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 300px;
}
footer .items > div {
  width: 30%;
  height: 100%;
}
footer .items .label {
  width: 80%;
  text-align: center;
}
footer .items .left > p {
  font-size: 2rem;
  margin-top: 15px;
  line-height: 1.5;
  width: 300px;
}
footer .items h2 {
  color: orange;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  text-transform: uppercase;
}
footer .items .center .contact-me {
  font-size: 2rem;
  margin-top: 10px;
  line-height: 1.5;
}
footer .items .center .address {
  display: flex;
  gap: 10px;
}
footer .items .center .address i {
  color: rgb(219, 158, 45);
}
footer .items .center .phone {
  display: flex;
  gap: 10px;
  align-items: center;
}
footer .items .center .phone i {
  color: rgb(219, 158, 45);
}
footer .items .center .mail {
  display: flex;
  gap: 10px;
  align-items: center;
}
footer .items .center .mail i {
  color: rgb(219, 158, 45);
}
footer .items .right .icon {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 90px;
}
footer .items .right .icon i {
  font-size: 4rem;
}
#facebook {
  transition-duration: 0.5s;
}
#facebook:hover {
  color: rgb(79, 187, 242);
  cursor: pointer;
}
#instagram {
  transition-duration: 0.5s;
}
#instagram:hover {
  background-image: linear-gradient(#833ab4, #fd1d1d, #fcb045);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  cursor: pointer;
}
#twitter {
  transition-duration: 0.5s;
}
#twitter:hover {
  color: rgb(128, 133, 136);
  cursor: pointer;
}
