*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    background-color: rgb(0, 0, 0);
    color: #FFF;
}

body{
    font-size: 1.6rem;
    font-family: "Be Vietnam Pro", sans-serif;
    
}
.main-content{
    width: 1270px;
    max-width: calc(100%-48px);
    margin: 0 auto;

}
a{
    text-decoration: none;
    color: #fff;
    font-family:"Be Vietnam Pro", sans-serif ;
}
.title{
    font-size: 4rem;
    font-weight: 700;
    color: orange;
    padding: 20px 0;
}

/* phần header */
header{
    width: 1440px;
    height: 776px;
    margin: 0 auto;
    position: relative;
}
video{
    width: 1440px;
    height: 776px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

header::before{
    content: "";
    position: absolute;
    width: 3%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
header::after{
    content: "";
    position: absolute;
    width: 3%;
    height: 100%;
    right: 0;
    top: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.blur-bottom{
    position: absolute;
    width: 100%;
    height: 5%;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
nav{
    margin: 0 -85px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.logo{
    margin-left: 50px;
    text-align: center;
    color: #fff;
    font-weight: 500;
}
.item{
    margin-right: 50px;
    width: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    font-weight: 500;
}
.item li{
    transition-duration: 0.5s;
}
.item li:first-child:hover,
.item li:nth-child(2):hover
{
    transform: translateY(-10px); 
}
/* dropdown */
.menu{
    position: relative;
}
.menu::after{
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    rotate: -45deg;
    left: 105px;
    bottom: 8px;
}


.sub-menu-wrap {
    background-color: black;
    width: 200px;
    height: 0;
    border-radius: 10px;
    position: absolute;
    top: 50px; 
    right: -50px;
    overflow: hidden;
    transition: height 0.5s ease; 
}

.sub-menu-wrap.open {
    height: 200px;
}


.sub-menu a {
    color: white;
    text-decoration: none;
    display: block;
}
.sub-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sub-menu a{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.5s;
}
.sub-menu a:hover{
    background-color: #fff;
    color: black;
}

.nav-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: black;
    width: 150px;
    height: 50px;
    border-radius: 12px;
    font-weight: 600;
    transition-duration: 0.5s;
}
.nav-btn:hover{
    opacity: 0.6;
}
.slogan{
    position: absolute;
    font-size: 6rem;
    font-weight: 800;
    width: 650px;
    letter-spacing: 3px;
    bottom: 100px;
    left: 90px;
}
/* phần main */
/* phần demo */
.demo-area{
    width: 100%;
    margin: 0 auto;
}
.demo-infor{
    width: 500px;
    text-align: center;
    margin: 0 auto;
    line-height: 1.3;
}

.img-demo {
    position: relative;
    margin-top: 50px;
    width: 100%;
    height: 500px;
}  
.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/header.png'); 
    background-size: cover; 
    filter: blur(5px); 
    z-index: -1; 
  } 
.img-item{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.img-item *{
    width: 200px;
    height: 100px;
    transition: 1s ease;
    
}
.img-item *:hover{
    width: 700px;
    height: 500px;
}
/* phần product */
main{
    padding: 100px 0 ;
    background: rgba(5, 5, 5, 0.3);
    width: 1440px;
    margin: 0 auto;
}
.filter{
    display: flex;
    justify-content: space-between;
}
.filter .option{
    display: flex;
    gap: 30px;
}
.filter .option a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    transition-duration: 0.5s;
}
.filter .filter-btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFF;
    color: black;
    width: 120px;
    border-radius: 10px;
    transition-duration: 0.5s;
    cursor: pointer;
}
.filter .option a:hover{
    color: orange;
    border: 2px solid orange;
}
.filter .filter-btn:hover{
    opacity: 0.6;
}
.model{
    padding-top: 70px;
    display: grid;
    grid-template-columns: 620px 620px;
    grid-template-rows: 620px 620px 620px;
    column-gap: 30px;
    row-gap: 30px;
}
/* chung */
.model .turn-left {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 225px;
    left: 10px;
    z-index: 1;
    transition-duration: 0.5s;
}
.model .turn-left:hover{
    transform: translateX(-5px);
}
.model .turn-right {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 225px;
    right: 10px;
    z-index: 1;
    transition-duration: 0.5s;
}
.model .turn-right:hover{
    transform: translateX(5px);
}
.model .cost{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    font-size: 2rem;
}

.model .cost .view-details{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    background-color: #fff;
    color: black;
    border-radius: 10px;
    font-weight: 500;
    font-size: 1.7rem;
    cursor: pointer;
    transition-duration: 0.5s;
}
.model .cost .view-details:hover{
    opacity: 0.6;
}
.model .condition{
    padding: 5px 10px;
    display: flex;
}
.model .condition .bed:hover,
.model .condition .bath:hover,
.model .condition .dientich:hover{
    border:2px solid #fff;
    cursor: pointer;
}

.bed,.bath{
    display: flex;
    align-items: center;
    gap: 10px;
}
.model .condition >*{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.4%;
    height: 30px;
    border: 1px solid rgba(255, 251, 251, 0.65);
}

.picture-of-model{
    position: relative;
    height: 450px;
    display: block;
    width: 100%;
    overflow: hidden;
}
.picture-of-model img{
    width: 100%;
    height: 100%;
    transition-duration: 1s;
}
.picture-of-model img:hover{
    transform: scale(1.2);
}
.picture-of-model::before{
    position: absolute;
    content:"";
    width: 10%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}
.picture-of-model::after{
    position: absolute;
    content:"";
    width: 10%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
}


.box-model{
    background: #2C2B2B;
    border-radius: 10px;
    padding-bottom: 20px;
}

.box-model:nth-child(7),
.box-model:nth-child(8),
.box-model:nth-child(9),
.box-model:nth-child(10){
    display: none;
}

.view-more{
    position: relative;
    width: 100px;
    height: 100px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.view-more-text {
    text-align: center;
    position: absolute;
    width: 100px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0; 
    transition: opacity 0.3s linear 0.2s;
    color: #695f5f;
}
  
.view-more:hover .view-more-text {
    opacity: 1;
}
.view-more-btn{
    transition-duration: 0.5s;
}
.view-more-btn:hover{
    transform: translateY(10px);
    cursor: pointer;
}

/* phần neighborhood */
.neighborhood{
    margin-top: 20px;
    padding: 30px 20px ;
    background: #423d3d9a;
    border-radius: 20px;
}

.neighborhood .location{
    font-size: 1.5rem;
    padding: 0 0 20px;
}
.map-img{
    width: 1170px;
    margin: 0 auto;
    overflow: hidden;
}
.ggmap{
    width: 100%;
    height: 100%;
    transition-duration: 1s;
}
.ggmap:hover{
    transform: scale(1.2);
}
.services{
    width: 95.1%;
    display: flex;
    background-color: #F1F1F1;
    margin: 0 auto;
    height: 100px;
    justify-content: space-evenly;
    align-items: center;
}
.services li a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transition-duration:0.5s ;
}
.services li a:hover{
    transform: translateY(-10px);
}
.text-service{
    color:black;
}
/* phần about us */
.about-us{
    margin: 100px 0;
    position: relative;
    background-image: url(../img/city.png);
    background-repeat: no-repeat;
    width: 1440px;
    height: 600px;
    margin-left: -85px;
}
.about-us::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 10%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0))
}
.about-us::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 10%;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.blur-left{
    position: absolute;
    width: 20%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    top: 0;
    left: 0;
}
.blur-right{
    position: absolute;
    width: 20%;
    height: 100%;
    background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    top: 0;
    right: 0;
}
.about{
    position: absolute;
    top: 40%;
    width: 600px;
    line-height: 1.5;
    left: 100px;
}

.about .about-desc{
    text-align: justify;
    font-size: 1.6rem;
}
.about .btn-about{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-weight: 700;
    margin-top: 20px;
    transition-duration: 0.5s;
}
.about .btn-about:hover{
    background: #fff;
}

.achievement{
    position: absolute;
    right: 150px;
    top:20%;
    width:200px;
}
.achievement section{
    margin-bottom: 50px;
}
.achievement .number{
    text-align: center;
    color: orange;
    font-size: 3.2rem;
    font-weight: 600;
}
.achievement .name{
    text-align: center;
    color: #cebaba;
}
.achievement .achievement-desc{
    margin-top: 2px;
    color: #908585;
}
/* phần other-project */
.other-projects{
    display: flex;
    justify-content: space-between;
}
/* phần other projects */
/* phần slider */
.slider{
    height: 500px;
    position: relative;
    overflow: hidden;
    width: 900px;
}
.slider .list{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 1s;
}
.slider .list img{
    width: 900px;
    height: 100%;
    object-fit: cover;

}

.slider .buttons{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.slider .buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(216, 203, 203, 0.61);
    font-size: 2.2rem;
    border: none;
    font-family: monospace;
}
.slider .dots{
    bottom: 10px;
    color: #fff;
    position: absolute;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.dots li{
    list-style-type: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    transition: 1s;
    
}
.dots .active{
    width: 30px;
    border-radius: 20px;
}
/* phần infor */
.other-projects .infor{
    margin-top: -10px;
}
.other-projects .infor .title{
    text-align: center;
}
.other-projects .infor .desc p{
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: 200;
    line-height: 1.3;
}
.other-projects .infor .desc{
    width: 300px;
}

#next,#prev{
    cursor: pointer;
    transition-duration: 0.5s;
}
#next:hover{
    transform: translateX(10px);
    background-color: #fff;
}
#prev:hover{
    transform: translateX(-10px) ;
    background-color: #fff;
}
/* phần engineer */
.engineer{
    margin-top: 100px;
}
.engineer-slide{
    display: flex;
    gap: 5px;
    overflow: hidden;

}
.box-engineer{
    width: 300px;
    height: 400px;
    background-color:rgba(255, 255, 255, 0.2);
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    animation: slide-run 10s linear infinite;
}
.box-engineer:hover{
    background-color: #f4ecec6d;
    cursor: pointer;
}
.engineer-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    transition: 1s;
}
.engineer-img:hover{
    transform: scale(1.3);
}
.engineer-infor{
    width: 300px;
    text-align: center;
    line-height: 1.5;
}
.engineer-name{
    font-size: 2rem;
}
.engineer-introduce{
    font-size: 1.5rem;
    font-weight: 200;
}
@keyframes slide-run {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-600px);
    }
    
}
/* phần tech */
.tech{
    width: 1000px;
    height: 700px;
    margin: 0 auto;
    position: relative;
}
.tech h1{
    margin-top: 50px;
    text-align: center;
}
#tech-slide{
    width: 1000px;
    height: 650px;
    width: max-content;
    background-color: #fff;
    overflow: hidden;
    

}
.tech .tech-item{
    width: 200px;
    height: 300px;
    background-position: 50% 50%;
    display: inline-block;
    transition-duration:0.5s;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top: 55%;
    transform: translate(0 ,-30%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #505050;
}

.tech-item:nth-child(1),
.tech-item:nth-child(2){
    left: 0;
    top: 0;
    border-radius: 0;
    transform: translate(0,15%);
    width: 100%;
    height: 605px;
    box-shadow: none;
}
.tech-item:nth-child(3){
    left: 50%;
}
.tech-item:nth-child(4){
    left: calc(50% + 220px);
}
.tech-item:nth-child(5){
    left: calc(50% + 440px);
}
.tech-item:nth-child(n+6){
    left: calc(50% + 660px);
    display: none;
}
.tech-item .tech-content{
    position: absolute;
    top: 60%;
    left: 100px;
    width: 300px;
    text-align: left;
    font-size: 1.5rem;
    display: none;
    transform: translate(0 , -50%);
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 10px;
}
.tech-item:nth-child(2) .tech-content{
    display: block;
    z-index: 2;
}
.tech-item .tech-name{
    text-transform: uppercase;
    color: orange;
    font-size: 30px;
    font-weight: 900;
    opacity: 0;
    animation: showcontent 1s ease 0s 1 forwards;
    line-height: 1.5;
}
.tech-item .tech-desc{
    opacity: 0;
    line-height: 1.4;
    margin: 20px 0;
    animation: showcontent 1s ease 0.3s 1 forwards;
    color: black;
}
.tech-item button{
    padding: 10px 20px;
    border: 0;
    opacity: 0;
    border-radius: 10px;
    transition-duration:0.5s ;
    animation: showcontent 1s ease 0.6s 1 forwards;
}
.tech-item button:hover{
    cursor: pointer;
    background-color: #f9f0f071;
}
@keyframes showcontent {
    from{
        opacity: 0;
        transform: translate(0 , 100px);
        filter: blur(33px);
    }
    to{
        opacity: 1;
        transform: translate(0,0);
        filter: blur(0);
    }
}
.tech .buttons{
    position: absolute;
    bottom: 20px;
    z-index: 2;
    text-align: center;
    width: 100%;
    gap: 30px;
}
.tech .buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
    transition-duration: 0.5s;
}
.tech .buttons button:nth-child(2):hover{
    transform: translateX(10px);
    cursor: pointer;
}
.tech .buttons button:nth-child(1):hover{
    transform: translateX(-10px);
    cursor: pointer;
}

